{% extends "gallery/base.html" %}
{% load static %}

{% block content %}
<section class="projects-section" id="projects">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center mb-5">
                <h2 class="text-uppercase fw-bold mb-3">Destinos y Reseñas</h2>
                <p>Explora nuestros paisajes destacados en formato de tarjetas y descubre las experiencias de otros viajeros.</p>
                <hr class="mx-auto gallery-divider" />
            </div>
        </div>

 
</section>
{% endblock %}
